.face {
 width:300px;
 height:300px ; 
 background-color:rgb(255, 174, 0) ;
 border-radius:50% ;  
}


.mouth {
   width:150px;
   height:50px ;
   background-color:brown ; 
   border-radius:0 0 50px 50px ;
   position: absolute;
   top:190px;
   left:95px;
}

.Left-eye{
  width:80px ;
  height:80px ;
  border-radius:50% ;
  background-color: black;
  display: inline-block;
  position: absolute;
  left:50px ;
  top:50px;
}
.right-eye{
  width:80px ;
  height:80px ;
  border-radius:50% ;
  background-color: black;
  display: inline-block;
  position: absolute;
  left:185px ;
  top:50px;
}
